@font-face {
    font-family: "Helvetica Neue Lt Std BlkCn";
    src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-BlkCn.otf") format("woff2");
}

@font-face {
    font-family: "Helvetica Neue Lt Std Cn";
    src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Cn.otf") format("woff2");
}

@font-face {
    font-family: "Helvetica Neue Lt Std HvCn";
    src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.otf") format("woff2");
}

@font-face {
    font-family: "Helvetica Neue Lt Std Lt";
    src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Lt.otf") format("woff2");
}

@font-face {
    font-family: "Helvetica Neue Lt Std LtCn";
    src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-LtCn.otf") format("woff2");
}

@font-face {
    font-family: "Helvetica Neue Lt Std LtIt";
    src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-LtIt.otf") format("woff2");
}

@font-face {
    font-family: "Helvetica Neue Lt Std Th";
    src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Th.otf") format("woff2");
}

@font-face {
    font-family: "Helvetica Neue Lt Std ThCn";
    src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-ThCn.otf") format("woff2");
}

@font-face {
    font-family: "Helvetica Neue Lt Std UltLtCn";
    src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-UltLtCn.otf") format("woff2");
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.otf") format("woff2");
}

@font-face {
    font-family: "Aempirial";
    src: url("../fonts/aempirial.ttf") format("woff2");
}

@font-face {
    font-family: "Bello Script";
    src: url("../fonts/bello-script.ttf") format("woff");
}

@font-face {
    font-family: "Luxury Royale JF Regular";
    src: url("../fonts/Luxury Royale JF Regular.ttf") format("woff2");
}

@font-face {
    font-family: "Helvetica Neue Lt Std Bold Condenced";
    src: url(../fonts/HelveticaNeueLTStd/HelveticaLTStd-BoldCond.otf) format("woff2");
}
