.pay-item-1 {
    background-position: 0px 0px;
}

.pay-item-2 {
    background-position: -44px 0px;
}

.pay-item-3 {
    background-position: -88px 0px;
}

.pay-item-4 {
    background-position: -132px 0px;
}

.pay-item-5 {
    background-position: -176px 0px;
}

.pay-item-6 {
    background-position: -220px 0px;
}

.pay-item-7 {
    background-position: -264px 0px;
}

.pay-item-8 {
    background-position: -308px 0px;
}

.pay-item-9 {
    background-position: -352px 0px;
}

.pay-item-10 {
    background-position: -396px 0px;
}

.pay-item-11 {
    background-position: -440px 0px;
}
