@font-face {
  font-family: "Helvetica Neue Lt Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-BlkCn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std Cn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Cn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std Lt";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Lt.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-LtCn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std LtIt";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-LtIt.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std Th";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Th.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std ThCn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-ThCn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std UltLtCn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-UltLtCn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.otf") format("woff2"); }

@font-face {
  font-family: "Aempirial";
  src: url("../fonts/aempirial.ttf") format("woff2"); }

@font-face {
  font-family: "Bello Script";
  src: url("../fonts/bello-script.ttf") format("woff"); }

@font-face {
  font-family: "Luxury Royale JF Regular";
  src: url("../fonts/Luxury Royale JF Regular.ttf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std Bold Condenced";
  src: url(../fonts/HelveticaNeueLTStd/HelveticaLTStd-BoldCond.otf) format("woff2"); }

.pay-item-1 {
  background-position: 0px 0px; }

.pay-item-2 {
  background-position: -44px 0px; }

.pay-item-3 {
  background-position: -88px 0px; }

.pay-item-4 {
  background-position: -132px 0px; }

.pay-item-5 {
  background-position: -176px 0px; }

.pay-item-6 {
  background-position: -220px 0px; }

.pay-item-7 {
  background-position: -264px 0px; }

.pay-item-8 {
  background-position: -308px 0px; }

.pay-item-9 {
  background-position: -352px 0px; }

.pay-item-10 {
  background-position: -396px 0px; }

.pay-item-11 {
  background-position: -440px 0px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: Arial, sans-serif; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit; }

ul {
  list-style: none; }

.header-config {
  height: 30px;
  background-color: black;
  font-size: 1.1rem;
  color: white;
  letter-spacing: -0.7px; }
  .header-config ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none; }
    .header-config ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      border-right: 1px solid #444444;
      cursor: pointer; }
      .header-config ul li a {
        color: white; }
    .header-config ul li:first-child {
      display: flex;
      justify-content: flex-start;
      flex-grow: 1;
      cursor: default; }

.wrapper {
  max-width: 970px;
  margin: 0 auto;
  height: 100%; }

.header-search {
  width: 35px; }
  .header-search i {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
    font-size: 15px; }

.header-account {
  width: 127px; }
  .header-account i {
    margin-right: 10px;
    font-size: 1.4rem; }

.header-currency {
  width: 71px; }
  .header-currency span {
    display: inline-flex;
    margin-right: 10px; }

nav {
  height: 106px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  nav .logo {
    flex-grow: 1;
    width: 120px;
    height: 30px;
    object-fit: cover;
    background: url(../img/pictures/logo_big.png) left no-repeat;
    background-size: contain; }
    nav .logo :hover {
      cursor: pointer; }
  nav ul {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    nav ul li {
      margin-right: 28px;
      cursor: pointer; }
      nav ul li i {
        margin-left: 5px; }
    nav ul li:last-child {
      margin-right: 25px; }
  nav .cart {
    color: #b3b3b3; }
    nav .cart select {
      font-size: 1.2rem;
      width: 214px;
      height: 32px;
      border: 1px solid;
      border-color: #d6d6d6;
      -webkit-appearance: none;
      background-image: url("../img/icons/arrow1.png");
      background-position: 194px center;
      background-repeat: no-repeat;
      -moz-appearance: none;
      text-indent: 8px;
      color: #b4b4b4;
      outline: none;
      cursor: pointer; }
    nav .cart div.cart-info {
      font-size: 1.1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: 32px;
      background-color: #fafafa;
      border: 1px solid #d6d6d6;
      border-top: none;
      color: #b4b4b4; }
      nav .cart div.cart-info :hover {
        cursor: pointer; }
      nav .cart div.cart-info i {
        flex-grow: 1;
        padding-left: 9px;
        font-size: 1.9rem;
        justify-content: flex-start; }
      nav .cart div.cart-info span {
        display: block;
        padding-right: 6px; }
      nav .cart div.cart-info span:last-child {
        padding-left: 6px;
        border-left: 2px solid #c1c0c0; }

.burger-menu {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  color: white;
  height: 48px;
  margin-bottom: 17px;
  background-color: #fd926d; }
  .burger-menu span:first-child {
    margin-left: 17px; }
  .burger-menu span:last-child {
    margin-right: 17px; }

button {
  background-color: #fd926d;
  box-shadow: 0 -3px #dd6b44 inset;
  color: white;
  font-family: 'Helvetica Neue Lt Std Th';
  border: none;
  outline: none;
  cursor: pointer; }

main {
  flex: 1; }

.slider-outer {
  height: 440px;
  background: linear-gradient(to right, #f6f3ec 50%, #efe8e0 50%);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .slider-outer .slider-control:hover {
    cursor: pointer;
    color: black; }
  .slider-outer .slider-control {
    font-size: 4rem;
    color: #cbcbca;
    width: 30px;
    height: 117px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .slider-outer .wrapper {
    width: 100%; }
  .slider-outer .slider-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background: url(../img/pictures/slider_background.png) center no-repeat; }

.promo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-right: 500px; }
  .promo .front {
    position: absolute;
    left: 135px;
    top: -30px;
    padding: 0 6px;
    background-color: #f6f3ec;
    font-family: 'Luxury Royale JF Regular';
    font-size: 3.6rem;
    border: 0; }
  .promo div {
    display: flex;
    justify-content: center; }
    .promo div div.line {
      width: 243px;
      height: 1px;
      background-color: #78645d; }
  .promo h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #78645d;
    padding-top: 20px;
    background-image: url(../img/icons/gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    .promo h1 span {
      display: flex;
      justify-content: center;
      font-family: 'Helvetica Neue Lt Std HvCn';
      font-size: 9.6rem;
      line-height: 0.75; }
    .promo h1 span:last-child {
      border-bottom: 4px solid #78645d;
      padding-bottom: 8px;
      margin-bottom: 3px; }
  .promo p {
    display: flex;
    justify-content: center;
    font-family: 'Helvetica Neue Lt Std LtCn';
    font-size: 3.6rem;
    color: #78645d;
    border-top: 1px solid #78645d; }
  .promo button {
    width: 156px;
    height: 57px;
    font-size: 1.6rem;
    margin: 13px auto 0 auto; }
    .promo button i {
      margin-left: 20px; }

.slider-markers-row {
  display: flex;
  justify-content: center;
  margin: 32px auto; }
  .slider-markers-row .slider-marker {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #867a76;
    margin-right: 20px;
    cursor: pointer; }
  .slider-markers-row .slider-marker:nth-child(2) {
    background-color: #fd926d; }
  .slider-markers-row .slider-marker:last-child {
    margin: 0; }
  .slider-markers-row .slider-marker:hover {
    background-color: #fd926d; }

.contact {
  font-family: Arial, sans-serif;
  background-color: #ededed;
  height: 55px;
  margin-bottom: 40px; }
  .contact .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contact .wrapper label {
      color: #6b6b6b;
      font-size: 1.2rem;
      margin-right: 10px; }
    .contact .wrapper input {
      color: #9f9f9f;
      font-size: 1.2rem;
      font-style: italic;
      text-indent: 9px;
      width: 132px;
      height: 28px;
      outline: none; }
    .contact .wrapper button {
      color: white;
      height: 29px;
      width: 28px;
      margin-left: -3px; }
      .contact .wrapper button i {
        transform: rotate(45deg); }
    .contact .wrapper .social-networks {
      color: #6b6b6b;
      display: flex;
      align-items: center; }
      .contact .wrapper .social-networks p {
        font-size: 1.2rem;
        margin-right: 15px; }
      .contact .wrapper .social-networks div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 55px;
        font-size: 1.8rem;
        margin: auto;
        cursor: pointer; }
      .contact .wrapper .social-networks a:visited {
        color: #6b6b6b; }
      .contact .wrapper .social-networks div:nth-child(2n) {
        background-color: #f7f7f7; }
      .contact .wrapper .social-networks div:hover {
        font-size: 3rem; }

.collections {
  max-width: 970px;
  width: 127vh;
  max-height: 340px;
  height: 46vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
  margin-bottom: 51px;
  text-transform: uppercase;
  font-size: 1rem; }
  .collections .item-1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../img/pictures/collection_background1.png);
    background-size: cover;
    cursor: pointer; }
    .collections .item-1 a {
      display: grid;
      width: 100%;
      height: 100%;
      justify-items: end;
      align-items: center; }
      .collections .item-1 a div {
        display: grid;
        justify-items: center;
        margin-right: 40px; }
        .collections .item-1 a div p:first-child {
          font-family: 'Helvetica Neue Lt Std BlkCn';
          font-size: 3.4em;
          color: #414141;
          line-height: 0.7; }
        .collections .item-1 a div p:nth-child(2) {
          font-family: 'Helvetica Neue Lt Std ThCn';
          font-size: 7.47em;
          color: #414141;
          line-height: 1; }
        .collections .item-1 a div p:last-child {
          font-family: 'Helvetica Neue Lt Std BlkCn';
          font-size: 8.208em;
          color: #4fafa0;
          line-height: 0.9; }
        .collections .item-1 a div .text-separator {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0; }
          .collections .item-1 a div .text-separator .line {
            display: block;
            width: 87px;
            height: 1px;
            background-color: #414141; }
          .collections .item-1 a div .text-separator span:nth-child(2n) {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Helvetica Neue Lt Std LtIt';
            font-size: 2.2em;
            color: white;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            margin: 0 3px;
            background-color: #414141; }
  .collections .item-2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../img/pictures/collection_background2.png);
    background-size: cover;
    text-transform: none;
    cursor: pointer; }
    .collections .item-2 a {
      display: grid;
      height: 100%;
      width: 100%;
      justify-items: start;
      align-items: center; }
      .collections .item-2 a .outer {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 131px;
        height: 131px;
        border-radius: 50%;
        background-color: white;
        margin-left: 29px;
        box-shadow: 0 4px #4fafa0; }
        .collections .item-2 a .outer .inner {
          display: grid;
          justify-items: center;
          align-items: center;
          width: 121px;
          height: 121px;
          border-radius: 50%;
          background-color: white;
          border: 1px solid #daeaeb; }
          .collections .item-2 a .outer .inner p {
            line-height: 0; }
          .collections .item-2 a .outer .inner p:first-child {
            font-family: 'Bello Script',sans-serif;
            font-size: 2.2em;
            color: #ffa687;
            padding-top: 15px; }
          .collections .item-2 a .outer .inner p:nth-child(2n) {
            font-family: 'Helvetica Neue Lt Std UltLtCn';
            font-size: 4.241em;
            color: #c1aea8; }
          .collections .item-2 a .outer .inner p:last-child {
            font-family: 'Helvetica Neue Lt Std Bold Condenced';
            font-size: 1.4em;
            color: #6a6a6a;
            padding-bottom: 15px; }
  .collections .item-3 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(../img/pictures/collection_background3.png);
    background-size: cover;
    cursor: pointer; }
    .collections .item-3 a {
      display: grid;
      height: 100%;
      width: 100%;
      justify-items: center;
      align-items: end; }
      .collections .item-3 a p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Helvetica Neue Lt Std UltLtCn';
        font-size: 3.4em;
        color: white;
        margin-bottom: 12px; }
        .collections .item-3 a p i {
          font-size: 2rem;
          font-weight: 100;
          margin-left: 10px; }
  .collections .item-4 {
    display: grid;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    background-image: url(../img/pictures/collection_background4.png);
    background-size: cover;
    cursor: pointer;
    position: relative; }
    .collections .item-4 a {
      display: grid;
      width: 100%;
      height: 100%;
      justify-items: start;
      align-items: center; }
      .collections .item-4 a div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-left: 19px;
        margin-bottom: 15px; }
        .collections .item-4 a div p {
          font-family: 'Helvetica Neue Lt Std Cn';
          font-size: 3.6em;
          color: white;
          line-height: 0.85; }

.collections-button {
  width: 98px;
  height: 29px;
  background-color: #4fafa0;
  color: white;
  font-family: 'Helvetica Neue Lt Std Lt';
  font-size: 1.2em;
  border: none;
  outline: none;
  box-shadow: none;
  position: absolute;
  bottom: 18px;
  left: 30px; }
  .collections-button i {
    margin-left: 10px; }

.product-slider-nav {
  display: flex;
  justify-content: space-between;
  height: 47px;
  text-transform: uppercase; }

.product-sections {
  display: flex;
  justify-content: flex-start;
  font-family: Arial,sans-serif;
  font-size: 1.5rem; }
  .product-sections div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 138px;
    cursor: pointer; }
    .product-sections div i {
      display: none; }
  .product-sections div:hover {
    background-color: #fd926d;
    color: white; }

.product-slider-controls {
  display: flex;
  justify-content: flex-end; }

.control {
  width: 47px;
  height: 47px;
  background-color: #f2f2f2; }

.control:first-child:after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  border-left: 1px solid #979797;
  border-bottom: 1px solid #979797;
  transform: rotate(45deg);
  margin-left: 15px;
  margin-top: 15px; }

.control:last-child:after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  border-left: 1px solid #979797;
  border-bottom: 1px solid #979797;
  transform: rotate(225deg);
  margin-left: 10px;
  margin-top: 15px; }

.active {
  background-color: #fd926d;
  color: white; }

.control.active:after {
  border-color: white; }

.control:hover {
  background-color: #fd926d;
  cursor: pointer; }

.control:hover:after {
  border-color: white; }

.product-slider {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  height: 455px;
  background-color: #fd926d;
  align-items: center;
  justify-content: center; }

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 220px;
  max-height: 395px;
  width: 100%;
  height: 100%;
  margin-right: 30px;
  background-color: #f7f7f7;
  font-size: 1.2rem;
  color: #373737;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 2; }
  .product figure figcaption {
    display: flex;
    justify-content: center;
    margin-top: 9px;
    line-height: 0.9;
    max-width: 220px;
    overflow: hidden; }
  .product p {
    display: flex;
    justify-content: center;
    margin: 7px 0;
    font-size: 2.2rem;
    line-height: 1; }
  .product button {
    width: 120px;
    height: 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 11px; }
    .product button i {
      margin-left: 10px;
      transform: rotate(45deg); }

.product:hover {
  transform: scale(1.05); }
  .product:hover .pop-up {
    display: flex; }

.pop-up {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #3d3d3d;
  position: absolute;
  top: 100px;
  left: 43px;
  z-index: 3; }
  .pop-up p {
    font-size: 1.2rem; }
  .pop-up i {
    font-size: 3rem; }

.sale-marker {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #4c4c4c 50%, white 50%);
  text-transform: uppercase;
  color: white; }
  .sale-marker p {
    font-family: Helvetica;
    font-size: 1em;
    margin-left: 3px;
    margin-top: 3px;
    line-height: 0.9; }

.sections-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 156px;
  margin-top: 25px; }
  .sections-separator div.line {
    width: 390px;
    height: 1px;
    background-color: #d8d8d8; }
  .sections-separator div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: url(../img/icons/separator.png) no-repeat center;
    margin: 0 15px; }
    .sections-separator div:nth-child(2) .text-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      grid-row-gap: 4px;
      grid-column-gap: 3px;
      margin-bottom: 51px;
      text-transform: uppercase;
      border: none;
      font-family: Aempirial;
      color: white;
      font-size: 3.6rem;
      margin-top: 62px; }
      .sections-separator div:nth-child(2) .text-container .text-1 {
        display: grid;
        justify-items: center;
        align-items: end;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        line-height: 0.8; }
      .sections-separator div:nth-child(2) .text-container .text-2 {
        display: grid;
        justify-items: end;
        align-items: start;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        font-size: 8.077rem;
        line-height: 0.8; }
      .sections-separator div:nth-child(2) .text-container .text-3 {
        display: grid;
        justify-items: start;
        align-items: start;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        line-height: 0.7; }
      .sections-separator div:nth-child(2) .text-container .text-4 {
        display: grid;
        justify-items: start;
        align-items: start;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        line-height: 1; }

.sale {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  max-height: 850px;
  overflow: hidden;
  padding-bottom: 68px; }
  .sale .product {
    margin-top: 25px; }
  .sale .product:nth-child(4n) {
    margin-right: 0; }

.brands {
  height: 101px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8; }
  .brands .wrapper {
    position: relative; }
    .brands .wrapper ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .brands .wrapper ul li {
        display: flex;
        align-items: center;
        height: 99px; }
      .brands .wrapper ul li:hover {
        cursor: pointer;
        transform: scale(1.2); }

.brands .wrapper:before {
  content: 'FAVOURITE BRANDS';
  font-size: 1.5rem;
  font-weight: bold;
  color: #414141;
  padding: 0 20px;
  background-color: white;
  position: absolute;
  left: 40%;
  top: -10px; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 161px; }
  .about h2 {
    font-size: 2.4rem;
    color: #414141;
    margin-bottom: 14px; }
  .about p {
    font-size: 1.4rem;
    color: #999999;
    text-align: center; }

.payment-systems {
  height: 58px;
  background-color: #f7f7f7;
  font-size: 1.2rem;
  color: #414141; }
  .payment-systems .wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
    .payment-systems .wrapper ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      height: 58px; }
      .payment-systems .wrapper ul li {
        width: 34px;
        height: 22px;
        background-image: url(../img/icons/payment.png);
        margin-right: 10px; }
      .payment-systems .wrapper ul li:last-child {
        margin: 0; }

.useful-links {
  height: 198px;
  background-color: #ededed; }
  .useful-links .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .menu li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .menu li h3 {
      font-size: 1.6rem;
      font-weight: bold;
      color: #544f4d;
      margin-bottom: 15px; }
  .menu li:last-child {
    align-self: center; }

.submenu {
  font-size: 1.2rem; }
  .submenu li {
    margin-bottom: 3px; }
    .submenu li a {
      color: #544f4d; }
    .submenu li a:hover {
      text-decoration: underline; }

.social {
  display: flex;
  flex-flow: row wrap;
  max-width: 135px; }
  .social li {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 9px;
    background-image: url(../img/icons/social-icons.png);
    cursor: pointer; }
  .social li:nth-child(3n) {
    /*margin-right: 0;*/ }
  .social li:hover {
    transform: scale(1.1); }

li div.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 107px;
  height: 107px;
  border-radius: 50%;
  background-image: url(../img/icons/symbol.png);
  color: #a59d9a;
  cursor: pointer; }
  li div.symbol div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    li div.symbol div span:first-child {
      font-family: Impact,sans-serif;
      font-size: 3.021rem;
      line-height: 1; }
    li div.symbol div span:last-child {
      font-family: 'Helvetica Neue Lt Std Cn';
      font-size: 1.4rem; }

.social-item-1 {
  background-position: 0px 0px; }

.social-item-2 {
  background-position: -45px 0px; }

.social-item-3 {
  background-position: -90px 0px; }

.social-item-4 {
  background-position: 0px 34px; }

.social-item-5 {
  background-position: -46px 34px; }

.social-item-6 {
  background-position: -92px 34px; }

.footer-copyright {
  height: 74px;
  background-color: black;
  font-size: 1.1rem;
  color: #8d8d8d; }
  .footer-copyright span {
    color: white;
    font-size: 3rem;
    display: none;
    margin-left: 29px; }
  .footer-copyright .wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer-copyright .wrapper ul:first-child {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .footer-copyright .wrapper ul:first-child li {
        border-right: 2px solid #8d8d8d;
        padding-left: 9px;
        padding-right: 9px; }
      .footer-copyright .wrapper ul:first-child li:first-child {
        padding-left: 0; }
      .footer-copyright .wrapper ul:first-child li:last-child {
        border: none; }
    .footer-copyright .wrapper a {
      color: #8d8d8d; }
    .footer-copyright .wrapper a:hover {
      text-decoration: underline; }
    .footer-copyright .wrapper ul:last-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .footer-copyright .wrapper ul:last-child li {
        line-height: 1.636; }

@media screen and (max-width: 990px) {
  .wrapper {
    max-width: 730px; }
  header nav ul {
    display: none; }
  .promo h1 span {
    font-size: 7.1rem; }
  .promo p {
    font-size: 2.664rem; }
  .promo div.line {
    width: 181px; }
  .promo .front {
    left: 92px; }
  .burger-menu {
    display: flex; }
  .slider-outer {
    height: 350px; }
    .slider-outer .slider-inner {
      background-size: cover;
      width: 100%; }
  .collections {
    max-width: 730px;
    width: 127vh;
    max-height: 256px;
    height: 46vh;
    grid-template-columns: 364px 181px 181px;
    grid-template-rows: 127px 127px;
    font-size: 0.75rem;
    height: 100%;
    max-height: 488px;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .collections .item-1 a div {
      margin-right: 30px; }
      .collections .item-1 a div .text-separator .line {
        width: 66px; }
    .collections .item-2 a .outer {
      width: 98px;
      height: 98px; }
      .collections .item-2 a .outer .inner {
        width: 92px;
        height: 92px; }
    .collections .item-4 .collections-button {
      left: 22px;
      bottom: 13px;
      width: 74px;
      height: 23px; }
    .collections .item-4 a div {
      margin-left: 14px;
      margin-bottom: 11px; }
  .sale {
    height: 488px;
    flex-wrap: nowrap; }
    .sale .product {
      margin-right: 35px; }
    .sale :nth-child(3n) {
      margin-right: 0; }
  .about {
    height: 180px; }
  .useful-links {
    height: 347px; }
  .menu {
    flex-flow: row wrap;
    justify-content: space-between; }
    .menu .main-list-item {
      margin-right: 34px; }
    .menu .main-list-item:nth-child(3) {
      order: 1;
      flex-grow: 1;
      margin-top: 40px; }
    .menu .main-list-item:nth-child(4) {
      order: 2;
      flex-grow: 7;
      margin-top: 40px; }
    .menu .main-list-item:last-child {
      margin-right: 0; } }

@media screen and (max-width: 640px) {
  header div:nth-child(2) {
    max-width: 610px; }
  .header-config {
    height: 192px;
    font-size: 3rem; }
    .header-config .wrapper {
      max-width: 610px; }
    .header-config ul {
      flex-wrap: wrap; }
      .header-config ul li {
        height: 96px; }
      .header-config ul li:first-child {
        justify-content: center;
        border: none;
        background-color: white;
        color: black;
        width: 100%; }
      .header-config ul .header-search {
        flex-grow: 1;
        border: none; }
      .header-config ul .header-account {
        flex-grow: 4; }
      .header-config ul .header-currency {
        flex-grow: 1; }
      .header-config ul i {
        font-size: 3rem; }
  nav {
    flex-wrap: wrap;
    height: unset; }
    nav .logo {
      display: flex;
      width: 100%;
      height: 88px;
      background-position: center;
      justify-content: center;
      margin: 54px auto; }
    nav div.cart {
      height: 96px;
      width: 100%;
      margin-bottom: 23px; }
      nav div.cart select {
        display: none; }
      nav div.cart div.cart-info {
        font-size: 3rem;
        height: 96px;
        width: 100%;
        border: 1px solid #d6d6d6; }
        nav div.cart div.cart-info i {
          font-size: 5rem;
          padding-left: 30px; }
        nav div.cart div.cart-info span:last-child {
          padding-right: 30px; }
  .burger-menu {
    height: 96px;
    font-size: 3rem;
    margin-bottom: 0; }
  .slider-outer {
    display: none; }
  div.slider-markers-row {
    display: none; }
  section.collections {
    display: none; }
  .contact {
    background-color: white;
    height: 260px; }
    .contact .wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .contact .wrapper div:first-child {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-wrap: nowrap; }
        .contact .wrapper div:first-child label {
          display: none; }
        .contact .wrapper div:first-child input {
          height: 96px;
          width: 100%;
          font-size: 3rem; }
        .contact .wrapper div:first-child button {
          height: 96px;
          width: 96px;
          font-size: 3.7rem;
          box-shadow: 0 -8px #dd6b44 inset; }
      .contact .wrapper div.social-networks {
        height: 88px; }
        .contact .wrapper div.social-networks div {
          height: 100%;
          width: 88px; }
        .contact .wrapper div.social-networks P {
          font-size: 2.6rem; }
        .contact .wrapper div.social-networks i {
          font-size: 3.5rem; }
  .product-slider-nav {
    height: 88px; }
  .product-sections {
    width: 100%;
    height: 100%; }
    .product-sections div {
      display: none; }
    .product-sections div.active {
      display: flex;
      width: 100%;
      height: 100%;
      font-size: 3rem;
      background-color: #f4845d;
      justify-content: space-between;
      align-items: center;
      padding-left: 28px; }
      .product-sections div.active i {
        display: block;
        margin-right: 31px; }
  .product-slider-controls {
    display: none; }
  .brands {
    display: none; }
  .about {
    display: none; }
  .payment-systems {
    display: none; }
  .useful-links {
    display: none; }
  .footer-copyright .wrapper ul:first-child {
    display: none; }
  .footer-copyright .wrapper span {
    display: block; } }

