@font-face {
  font-family: "Helvetica Neue Lt Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-BlkCn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std Cn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Cn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std Lt";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Lt.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-LtCn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std LtIt";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-LtIt.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std Th";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Th.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std ThCn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-ThCn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std UltLtCn";
  src: url("../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-UltLtCn.otf") format("woff2"); }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.otf") format("woff2"); }

@font-face {
  font-family: "Aempirial";
  src: url("../fonts/aempirial.ttf") format("woff2"); }

@font-face {
  font-family: "Bello Script";
  src: url("../fonts/bello-script.ttf") format("woff"); }

@font-face {
  font-family: "Luxury Royale JF Regular";
  src: url("../fonts/Luxury Royale JF Regular.ttf") format("woff2"); }

@font-face {
  font-family: "Helvetica Neue Lt Std Bold Condenced";
  src: url(../fonts/HelveticaNeueLTStd/HelveticaLTStd-BoldCond.otf) format("woff2"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: Arial, sans-serif; }

ul {
  list-style: none; }

.header-config {
  height: 30px;
  background-color: black;
  font-size: 1.1rem;
  color: white;
  letter-spacing: -0.7px; }
  .header-config ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none; }
    .header-config ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      border-right: 1px solid #444444;
      cursor: pointer; }
    .header-config ul li:first-child {
      justify-content: flex-start;
      width: 100%;
      cursor: default; }

.wrapper {
  width: 970px;
  margin: 0 auto; }

.header-search {
  width: 35px; }
  .header-search i {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
    font-size: 15px; }

.header-account {
  width: 127px; }
  .header-account i {
    margin-right: 10px;
    font-size: 1.4rem; }

.header-currency {
  width: 71px; }
  .header-currency span {
    display: inline-flex;
    margin-right: 10px; }

nav {
  height: 106px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  nav .logo {
    flex-grow: 1; }
    nav .logo :hover {
      cursor: pointer; }
  nav ul {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    nav ul li {
      margin-right: 32px;
      cursor: pointer; }
      nav ul li i {
        margin-left: 5px; }
    nav ul li:last-child {
      margin-right: 25px; }
  nav .cart {
    color: #b3b3b3; }
    nav .cart select {
      font-size: 1.2rem;
      width: 214px;
      height: 32px;
      border: 1px solid;
      border-color: #d6d6d6;
      -webkit-appearance: none;
      background-image: url("../img/icons/arrow1.png");
      background-position: 194px center;
      background-repeat: no-repeat;
      -moz-appearance: none;
      text-indent: 8px;
      color: #b4b4b4;
      outline: none;
      cursor: pointer; }
    nav .cart div.cart-info {
      font-size: 1.1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: 32px;
      background-color: #fafafa;
      border: 1px solid #d6d6d6;
      border-top: none;
      color: #b4b4b4; }
      nav .cart div.cart-info :hover {
        cursor: pointer; }
      nav .cart div.cart-info i {
        flex-grow: 1;
        padding-left: 9px;
        font-size: 1.9rem;
        justify-content: flex-start; }
      nav .cart div.cart-info span {
        display: block;
        padding-right: 6px; }
      nav .cart div.cart-info span:last-child {
        padding-left: 6px;
        border-left: 2px solid #c1c0c0; }

button {
  background-color: #fd926d;
  box-shadow: 0 -3px #dd6b44 inset;
  color: white;
  font-family: 'Helvetica Neue Lt Std Th';
  border: none;
  outline: none;
  cursor: pointer; }

main .slider {
  display: flex;
  width: 1200px;
  height: 440px;
  background-image: url(../img/pictures/slider_background.png);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }
  main .slider .slider-control:hover {
    cursor: pointer;
    color: black; }
  main .slider .slider-control {
    font-size: 4rem;
    color: #cbcbca;
    width: 30px;
    height: 117px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  main .slider div.promo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-right: 500px; }
    main .slider div.promo .front {
      position: absolute;
      left: 135px;
      top: -30px;
      padding: 0 6px;
      background-color: #f6f3ec;
      font-family: 'Luxury Royale JF Regular';
      font-size: 36px;
      border: 0; }
    main .slider div.promo div {
      display: flex;
      justify-content: center; }
      main .slider div.promo div div.line {
        width: 243px;
        height: 1px;
        background-color: #78645d; }
    main .slider div.promo h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #78645d;
      padding-top: 20px; }
      main .slider div.promo h1 span {
        display: flex;
        justify-content: center;
        font-family: 'Helvetica Neue Lt Std HvCn';
        font-size: 9.6rem;
        line-height: 0.75; }
      main .slider div.promo h1 span:last-child {
        border-bottom: 4px solid #78645d;
        padding-bottom: 8px;
        margin-bottom: 3px; }
    main .slider div.promo p {
      display: flex;
      justify-content: center;
      font-family: 'Helvetica Neue Lt Std LtCn';
      font-size: 3.6rem;
      color: #78645d;
      border-top: 1px solid #78645d; }
    main .slider div.promo button {
      width: 156px;
      height: 57px;
      font-size: 1.6rem;
      margin: 13px auto 0 auto; }
      main .slider div.promo button i {
        margin-left: 20px; }

main .slider-markers-row {
  display: flex;
  justify-content: center;
  margin: 32px auto; }
  main .slider-markers-row .slider-marker {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #867a76;
    margin-right: 20px;
    cursor: pointer; }
  main .slider-markers-row .slider-marker:nth-child(2) {
    background-color: #fd926d; }
  main .slider-markers-row .slider-marker:last-child {
    margin: 0; }
  main .slider-markers-row .slider-marker:hover {
    background-color: #fd926d; }

main .contact {
  font-family: Arial, sans-serif;
  background-color: #ededed;
  height: 55px;
  display: flex;
  align-items: center;
  margin-bottom: 40px; }
  main .contact .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    main .contact .wrapper label {
      color: #6b6b6b;
      font-size: 1.2rem;
      margin-right: 10px; }
    main .contact .wrapper input {
      color: #9f9f9f;
      font-size: 1.2rem;
      font-style: italic;
      text-indent: 9px;
      width: 132px;
      height: 28px;
      outline: none; }
    main .contact .wrapper button {
      color: white;
      height: 29px;
      width: 28px;
      margin-left: -3px; }
      main .contact .wrapper button i {
        transform: rotate(45deg); }
    main .contact .wrapper .social-networks {
      color: #6b6b6b;
      display: flex;
      align-items: center; }
      main .contact .wrapper .social-networks p {
        font-size: 1.2rem;
        margin-right: 15px; }
      main .contact .wrapper .social-networks div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 55px;
        font-size: 1.8rem;
        margin: auto;
        cursor: pointer; }
      main .contact .wrapper .social-networks div:nth-child(2n) {
        background-color: #f7f7f7; }
      main .contact .wrapper .social-networks div:hover {
        font-size: 3rem; }

main section.collections {
  display: grid;
  grid-template-columns: 484px 241px 241px;
  grid-template-rows: 169px 169px;
  grid-gap: 2px;
  margin-bottom: 51px;
  text-transform: uppercase; }
  main section.collections .item-1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../img/pictures/collection_background1.png);
    justify-items: end;
    align-items: center;
    cursor: pointer; }
    main section.collections .item-1 div {
      display: grid;
      justify-items: center;
      margin-right: 40px; }
      main section.collections .item-1 div p:first-child {
        font-family: 'Helvetica Neue Lt Std BlkCn';
        font-size: 3.4rem;
        color: #414141;
        line-height: 0.7; }
      main section.collections .item-1 div p:nth-child(2) {
        font-family: 'Helvetica Neue Lt Std ThCn';
        font-size: 7.47rem;
        color: #414141;
        line-height: 1; }
      main section.collections .item-1 div p:last-child {
        font-family: 'Helvetica Neue Lt Std BlkCn';
        font-size: 8.208rem;
        color: #4fafa0;
        line-height: 0.9; }
      main section.collections .item-1 div div.separator {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0; }
        main section.collections .item-1 div div.separator span.line {
          display: block;
          width: 87px;
          height: 1px;
          background-color: #414141; }
        main section.collections .item-1 div div.separator span:nth-child(2n) {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Helvetica Neue Lt Std LtIt';
          font-size: 2.2rem;
          color: white;
          width: 33px;
          height: 33px;
          border-radius: 50%;
          margin: 0 3px;
          background-color: #414141; }
  main section.collections .item-2 {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../img/pictures/collection_background2.png);
    text-transform: none;
    cursor: pointer; }
    main section.collections .item-2 .outer {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 131px;
      height: 131px;
      border-radius: 50%;
      background-color: white;
      margin-left: 29px;
      box-shadow: 0 4px #4fafa0; }
      main section.collections .item-2 .outer .inner {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 121px;
        height: 121px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid #daeaeb; }
        main section.collections .item-2 .outer .inner p {
          line-height: 0; }
        main section.collections .item-2 .outer .inner p:first-child {
          font-family: 'Bello Script',sans-serif;
          font-size: 2.2rem;
          color: #ffa687;
          padding-top: 15px; }
        main section.collections .item-2 .outer .inner p:nth-child(2n) {
          font-family: 'Helvetica Neue Lt Std UltLtCn';
          font-size: 4.241rem;
          color: #c1aea8; }
        main section.collections .item-2 .outer .inner p:last-child {
          font-family: 'Helvetica Neue Lt Std Bold Condenced';
          font-size: 1.4rem;
          color: #6a6a6a;
          padding-bottom: 15px; }
  main section.collections .item-3 {
    display: grid;
    justify-items: center;
    align-items: end;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(../img/pictures/collection_background3.png);
    cursor: pointer; }
    main section.collections .item-3 p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Helvetica Neue Lt Std UltLtCn';
      font-size: 3.4rem;
      color: white;
      margin-bottom: 12px; }
      main section.collections .item-3 p i {
        font-size: 2rem;
        font-weight: 100;
        margin-left: 10px; }
  main section.collections .item-4 {
    display: grid;
    justify-items: start;
    align-items: end;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(../img/pictures/collection_background4.png);
    cursor: pointer; }
    main section.collections .item-4 div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-left: 19px; }
      main section.collections .item-4 div p {
        font-family: 'Helvetica Neue Lt Std Cn';
        font-size: 3.6rem;
        color: white;
        line-height: 0.85; }
      main section.collections .item-4 div button {
        width: 98px;
        height: 29px;
        background-color: #4fafa0;
        color: white;
        font-family: 'Helvetica Neue Lt Std Lt';
        font-size: 1.2rem;
        border: none;
        outline: none;
        box-shadow: none;
        margin: 15px 0 18px 0; }
        main section.collections .item-4 div button i {
          margin-left: 10px; }

.product-slider-nav {
  display: flex;
  justify-content: space-between;
  height: 47px;
  text-transform: uppercase; }

.product-sections {
  display: flex;
  justify-content: flex-start;
  font-family: Arial,sans-serif;
  font-size: 1.5rem; }
  .product-sections div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 138px;
    cursor: pointer; }
  .product-sections div:hover {
    background-color: #fd926d;
    color: white; }

.product-slider-controls {
  display: flex;
  justify-content: flex-end; }

.control {
  width: 47px;
  height: 47px;
  background-color: #f2f2f2; }

.control:first-child:after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  border-left: 1px solid #979797;
  border-bottom: 1px solid #979797;
  transform: rotate(45deg);
  margin-left: 15px;
  margin-top: 15px; }

.control:last-child:after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  border-left: 1px solid #979797;
  border-bottom: 1px solid #979797;
  transform: rotate(225deg);
  margin-left: 10px;
  margin-top: 15px; }

.active {
  background-color: #fd926d;
  color: white; }

.control.active:after {
  border-color: white; }

.control:hover {
  background-color: #fd926d;
  cursor: pointer; }

.control:hover:after {
  border-color: white; }

.product-slider {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  height: 455px;
  background-color: #fd926d;
  align-items: center;
  justify-content: center; }

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  height: 395px;
  margin-right: 30px;
  background-color: #f7f7f7;
  font-size: 1.2rem;
  color: #373737;
  text-transform: uppercase;
  cursor: pointer;
  /*transform:translateX(15px);*/ }
  .product figure figcaption {
    display: flex;
    justify-content: center;
    margin-top: 9px;
    line-height: 0.9; }
  .product p {
    margin: 7px 0;
    font-size: 2.2rem;
    line-height: 1; }
  .product button {
    width: 120px;
    height: 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 11px; }
    .product button i {
      margin-left: 10px;
      transform: rotate(45deg); }

.product:hover {
  transform: scale(1.05); }
  .product:hover .pop-up {
    display: flex; }

.pop-up {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #3d3d3d;
  position: absolute;
  top: 100px;
  left: 43px;
  z-index: 2; }
  .pop-up p {
    font-size: 1.2rem; }
  .pop-up i {
    font-size: 3rem; }

.sale {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #4c4c4c 50%, white 50%);
  text-transform: uppercase;
  color: white; }
  .sale p {
    font-family: Helvetica;
    font-size: 1em;
    margin-left: 3px;
    margin-top: 3px;
    line-height: 0.9; }

